<h2>Create account</h2><br>
<form action="/createaccount" method="post">
	Username: <input type="text" placeholder="Insert here your username" name="username"><br>
	Password: <input type="password" placeholder="Insert here your password" name="password"><br>
	<input type="submit" value="Create!">
</form>
