<h2>Edit article</h2>
<form action="/edit" method="post" id="edit">
	<input type="hidden" name="_method" value="put">
	<textarea rows="20" name="message"><%= @info %></textarea>
	<div class="actions">
		<% if $credentials %>
			<% if $credentials[0] != "" %>
				<% if $credentials[0] == 'Admin' %>
					<a class="button button-primary" href="../reset"><span>Reset</span></a>
					<a class="button button-warning" href="../makedefault"><span>Make Default</span></a>
				<% end %>
			<% end %>
		<% end %>
		<input class="button" type="submit" value="Update">
	</div>
</form>
