<p>Welcome to WAD wiki. A free online encyclopaedia of knowledge that can be viewed by
anyone!</p>
<p>Feel free to search for anything you desire! And if it does not exist then create it!</p>
<p>Use the menu to the left to navigate the site!</p>
<p><%= @info %></p>
<br>
<p>
	No. of characters: <%= @characters %><br>
	No. of words: <%= @words %>
</p>
