<p>Welcome to Whiskypedia. A free online encyclopaedia of Whisky that can be viewed by
anyone!</p>
<p>Feel free to look for anything you please. And if it doesn't exist; create an account and you might be given the chance to add it yourself!</p>
<p>Use the menu to the left to navigate the site!</p>
<p><%= @info %></p>
<br>
<p>
	<u>Article Statistics</u>
	No. of characters: <%= @characters %><br>
	No. of words: <%= @words %>
</p>
