<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="This is my new Wiki app">
		<meta name="keywords" content="wiki, test app, blog">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<title>My Wiki application</title>
	</head>
	<body>
		<div class="main_container">
			<header>
				<div class="page_title">
					<h1>My Wiki App</h1>
				</div>
				<div class="navbar">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/create">Create</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/edit">Edit</a></li>
						<% if $credentials %>
							<% if $credentials[0] != '' %>
								</ul>
								<div class="logged-in-as">
									<span>Logged in as </span>
									<a id="username-sidebar" href="/user/<%= $credentials[0] %>">
										<%= $credentials[0] %>
									</a>
								</div>
								<ul>
								<% if $credentials[0] == 'Admin' %>
									<li><a href="/admincontrols">Admin Controls</a></li>
								<% end %>
									<li><a href="/logout">Logout</a></li>
							<% else %>
								<li><a href="/login">Login</a></li>
							<% end %>
						<% else %>
								<li><a href="/login">Login</a></li>
						<% end %>
					</ul>
				</div>
			</header>
			<div>
				<%= yield %>
			</div>
			<footer>
				<p>Created by <%= $myinfo %></p>
			</footer>
		</div>
	</body>
</html>
