<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="This is my new Wiki app">
		<meta name="keywords" content="wiki, test app, blog">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<title>Whiskypedia</title>
	</head>
	<body>
		<div class="main_container">
			<header class="page_header">
				<div class="page_title">
					<h1>Whiskypedia</h1>
				</div>
			</header>
			<div class="middle">
				<section class="sidebar">
					<ul>
						<a href="/"><li>Home</li></a>
						<a href="/about"><li>About</li></a>
						<a href="/history"><li>History</li></a>
						<% if $credentials %>
							<% if $credentials[0] != '' %>
								<% if admin? %>
									<a href="/admincontrols"><li>Permissions</li></a>
									<a href="/logs"><li>Logs</li></a>
								<% end %>
								<% if User.first(:username => $credentials[0]).edit %>
									<a href="/edit"><li>Edit</li></a>
								<% end %>
								<hr>
								<div class="logged-in-as">
									<span>My Profile</span>
								</div>
								<a id="username-sidebar" href="/user/<%= $credentials[0] %>">
									<li><%= $credentials[0] %></li>
								</a>
								<a href="/logout"><li>Logout</li></a>
							<% else %>
								<a href="/login"><li>Login</li></a>
							<% end %>
						<% else %>
								<a href="/login"><li>Login</li></a>
						<% end %>
					</ul>
				</section>
				<section class="page-container">
					<div class="page">
						<%= yield %>
					</div>
					<footer>
						<span>Created by <%= $myinfo %></span>
					</footer>
				</section>
			</div>
		</div>
	</body>
</html>
