<h2>Logs</h2>
<h3>In this page you will be able to check user actions logs</h3>
<table>
	<thead>
		<tr>
			<th>User</th><th>Date</th><th>Event</th>
		</tr>
	</thead>
	<tbody>
		<% @joined.each do |log| %>
			<tr>
				<td>
					<a href="/logs/<%= log[:username] %>">
						<%= log[:username] %>
					</a>
				</td>
				<td><%= log[:date] %></td>
				<td><%= log[:event] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

