<% if @Userz %>
	<header>
		<h2>Your Profile</h2>
		<h3><%= @Userz.username %> list of contributions</h3>
	</header>
<% end %>

<section>
	<%
		@his.each do |his|
	%>
		<div class="historyLog">
			<a href="/history/<%= his[:id] %>" class="editHistLink">
				<%= his[:date].strftime(fmt='%F %T') %>
			</a>
		</div>
	<% end %>
</section>
